# Game Server Agent systemd Service Script
# By Game Server Panel
[Unit]
Description=Game Server Agent Daemon
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "{OGP_AGENT_PATH}/agent_init start"
ExecStop=/bin/sh -c "{OGP_AGENT_PATH}/agent_init stop"
RemainAfterExit=yes
PIDFile="{OGP_AGENT_PATH}/agent_run.pid"

[Install]
WantedBy=multi-user.target
